/* ------------------------- FONTS ------------------------------------------- */
@font-face {
    font-family: PressStart2P;
    src: url(../assets/fonts/pressstart2p-regular.woff);
    font-weight: 400;
}

/* ------------------------- COLORS ------------------------------------------- */
:root {
    --darkBlue: #223350;
    --green: #67D396;
    --lightGray: #ECE9EB;
    --gray: #D9D9D9;
}

/* ------------------------- GENERAL ------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--darkBlue);
    overflow: hidden;
    height: 100vh;
    width: 100%;
}

h1 {
    font-family: PressStart2P;
    font-size: 40px;
    text-align: center;
    color: var(--green);
    line-height: 130%;
}

.btn {
    background-color: var(--gray);
    padding: 12px 28px;
    border: none;
    border-radius: 20px;
    font-family: PressStart2P;
    font-size: 16px;
    color: var(--darkBlue);
    text-decoration: none;
    text-align: center;
}

.btn:hover {
    background-color: var(--green);
    color: var(--lightGray);
}

p {
    font-family: PressStart2P;
    color: var(--lightGray);
}

/* ------------------------- FIRST&LAST SCREEN ------------------------------------------- */
body.home {
    background-image: url(../assets/images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h1 {
    margin: 0 20px 30px 20px;
}

/* ------------------------- SECOND SCREEN ------------------------------------------- */
.game {
    display: grid;
    grid-template-rows: 0.2fr 1fr 0.1fr;
}

.game header, .game main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.game header {
    padding-top: 50px;
}

.game .game-container section.game-player-turn p {
    font-size: 20px;
}

.game .game-container section.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.game .game-container section.game-board div { 
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: PressStart2P;
    font-size: 64px;
    color: var(--green);
}

div:nth-child(1), div:nth-child(4), div:nth-child(7) {
    border-right: solid 1px var(--green);
}

div:nth-child(3), div:nth-child(6), div:nth-child(9) {
    border-left: solid 1px var(--green);
}

div:nth-child(1), div:nth-child(2), div:nth-child(3), div:nth-child(4), div:nth-child(5), div:nth-child(6) {
    border-bottom: solid 1px var(--green);
}

/* ------------------------- BREAKPOINTS ------------------------------------------- */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /*general*/
    h1 {
        font-size: 60px;
    }

    .btn {
        font-size: 18px;
    }

    /*second screen*/
    .game .game-container section.game-player-turn p {
        font-size: 30px;
    }

    .game .game-container section.game-board div { 
        width: 120px;
        height: 120px;
        font-size: 64px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    /*general*/
    h1 {
        font-size: 70px;
    }

    .container h1 {
        font-size: 80px;
    }

    .btn {
        font-size: 20px;
    }    
}